  .profile__edit-button {
  background-image: url('../../../images/edit.png');
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-color: #000000;
  padding: 0;
  margin-left: 17px;
  }

  .profile__edit-button:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 880px) {
    .profile__edit-button {
      width: 18px;
      height: 18px;
      margin-left: 10px;
    }
  }
