.profile__name {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  padding: 0 0 16px;
  max-width: 295px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media screen and (max-width: 880px) {
  .profile__name {
    font-size: 27px;
    line-height: 2;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 730px) {
  .profile__name {
    max-width: 205px;
    text-align: center;
  }
}


