.page {
  width: 100vw;
  min-height: 100vh;
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  padding-top: 45px;
  }


@media screen and (max-width: 321px) {
  .page {
    padding-top: 28px;
  }
}

