.card__delete {
  background-image: url('../../../images/delete.svg');
  width: 18px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  box-sizing: border-box;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: transparent;
  z-index: 2;
  visibility: hidden;
}

.card__delete:hover {
  opacity: 0.6;
}
