.popup__container {
  margin: 0 auto;
  width: 358px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 36px;
}


@media screen and (max-width: 530px) {
  .popup__container {
    width: 330px;
  }
}

@media screen and (max-width: 420px) {
  .popup__container {
    width: 200px;
    padding: 30px 20px;
  }
}
