.popup__container {
  margin: 0 auto;
  width: 430px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 530px) {
  .popup__container {
    width: 330px;
  }
}

@media screen and (max-width: 420px) {
  .popup__container {
    width: 230px;
  }
}
