.card-grid {
  margin: 0 auto 66px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .card-grid {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap:  12px;
  }
}

@media screen and (max-width: 530px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 48px;
  }
}

