.profile__add-button {
  background-image: url('../../../images/plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  background-color: #000000;
  padding: 0;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.6;
}



@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 100%;
    height: 50px;
    margin-top: 36px;
  }
}

@media screen and (max-width: 400px) {
  .profile__add-button {
    background-image: url('../../../images/plus320.svg');
  }
}
