.popup__close-btn {
  background-image: url('../../../images/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 57px;
  height: 57px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  box-sizing: border-box;
  border: none;
  position: relative;
  top: -45px;
  left: 80px;
}

.popup__close-btn:hover {
  opacity: 0.6;
}


@media screen and (max-width: 321px) {
  .popup__close-btn {
    position: relative;
    top: -35px;
    left: 30px;
    width: 47px;
    height: 47px;
  }
}


