@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/page-content/page-content.css');
@import url('../blocks/content/content.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__info-column/profile__info-column.css');
@import url('../blocks/profile/__btn-column/profile__btn-column.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__column/profile__column.css');
@import url('../blocks/profile/__job/profile__job.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__pic/profile__pic.css');
@import url('../blocks/profile/__row/profile__row.css');
@import url('../blocks/add-button/add-button.css');
@import url('../blocks/close-btn/close-btn.css');
@import url('../blocks/save-btn/save-btn.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__name/popup__name.css');
@import url('../blocks/popup/__job/popup__job.css');
@import url('../blocks/popup/__heading/popup__heading.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__row/popup__row.css');
@import url('../blocks/card-grid/card-grid.css');
@import url('../blocks/card/card.css');
@import url('../blocks/card/__name/card__name.css');
@import url('../blocks/card/__pic/card__pic.css');
@import url('../blocks/card/__text/card__text.css');
@import url('../blocks/like-button/like-button.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer-copyright.css');
