.save-btn {
  width: calc(100% - 72px);
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  height: 50px;
  background-color: #000000;
  padding: 0;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 auto 37px;
}

.save-btn:hover {
  opacity: 0.8;
}
