.card {
  margin: 0;
  padding: 0;
  min-height: 361px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .card {
  min-height: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .card {
  min-height: 280px;
  }
}


@media screen and (max-width: 870px) {
  .card {
  min-height: 250px;
  }
}

