.card__pic {
  width: 100%;
  height: 282px;
  cursor: pointer;
}

.card__pic:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1250px) {
  .card__pic {
    height: 223px;
  }
}

@media screen and (max-width: 1023px) {
  .card__pic {
    height: 171px;
  }
}

@media screen and (max-width: 500px) {
  .card__pic {
    height: 464px;
  }
}

@media screen and (max-width: 325px) {
  .card__pic {
    height: 280px;
  }
}
